html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --crimson: #A63C3C;
  --crimson-transparent: #A63C3C3f;
  --red: #D9685A;
  --red-transparent: #D9685A3f;
}

body {
  background-color: #8FAE98;
}

.toy-frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  }

.toy-frame span {
  display: inline-block;
  white-space: nowrap;
}

.toy-frame .left-section .sizing-button-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5em;
  margin-left: 55px;
}

.sizing-button-container .sizing-button {
  margin-top: 55px;
  margin-bottom: -8px;
  height: 50px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toy-frame .left-section .main-screen {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-items: center;
  background-color: var(--red);
  border-bottom: 4px solid var(--crimson-transparent);
  border-left: 3px solid var(--crimson-transparent);
  border-radius: 50px;
}

.toy-frame .right-section,
.toy-frame .left-section .bottom-slider,
.toy-frame .left-section .sizing-button-container .sizing-button {
  background-color: var(--crimson);
  border: 1px solid var(--red);
  border-radius: 8px;
  box-shadow: 1px -2px 12px rgba(0, 0, 0, 0.3);
}

.toy-frame .right-section {
  margin-top: calc(55px * 3);
  margin-left: -8px;
  width: 50px; 
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toy-frame .right-section span {
  transform: rotate(-90deg);
}

.toy-frame .bottom-slider {
  margin-top: -8px;
  margin-left: 55px;
  height: 50px;
  width: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-screen .title {
  background-color: var(--crimson-transparent);
  height: 50px;
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 8px;
  border-top: 3px solid rgba(0, 0, 0, 0.05);
  border-right: 2px solid rgba(0, 0, 0, 0.05);
}

.main-screen .mesh {
  background-color: rgba(244, 255, 219, 0.60);
  margin: 20px 65px 55px;
  height: 400px;
  width: 800px;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 8px;
}

.main-screen .mesh .mesh-content {
  flex: 0 0 auto;
  border: 1px solid #a1a1a14b;
}