html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --crimson: #C1272D;
  --red: #ED1C24;
  --light-red: #EF4037;
}

body {
  background-color: #FFDCB4;
}

.toy-frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px auto;
}

.toy-frame .left .main-screen {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-items: center;
  background-color: var(--light-red);
  width: 1200px;
  height: 800px;
  border-bottom: 9px solid var(--crimson);
  border-left: 6px solid var(--crimson);
  border-radius: 50px;
}

.toy-frame .right,
.toy-frame .left .bottom-slider {
  background-color: var(--crimson);
  border: 1px solid var(--light-red);
  border-radius: 50px;
}

.toy-frame .right {
  margin-top: 55px;
  width: 50px;
  height: 125px;
}

.toy-frame .bottom-slider {
  margin-top: -8px;
  margin-left: 55px;
  height: 50px;
  width: 125px;
}

.main-screen .title {
  background-color: rgba(255, 255, 255, 0.76);
  height: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.main-screen .mesh {
  background-color: rgba(244, 255, 219, 0.85);
  margin-top: 20px;
  height: 80%;
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}